@import "tailwindcss";
@import "tailwind-animations";

@theme {
  --color-background: #010101;
  --color-foreground: #FAFAFA;
  --color-accent: #0c30fa;
  --color-hover: #2A3AAA;
  --color-highlight: #3075ff;
  --color-ghost: #1A1A1A;
  --color-off: #2B2B2B;
}
